<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qingzhou">
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ECApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppCompatTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Third.SmallClassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".discussion.WaitingRoom"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.test"
            android:screenOrientation="portrait"/>
        <activity android:name=".Third.NewsActicity"
            android:screenOrientation="portrait" />
        <activity android:name=".First.CommentWriteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".First.CommentActivity"
            android:theme="@style/commentActivityTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".Me.SetLanguageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".First.FirstTest"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".Me.Account_Security_change"
            android:screenOrientation="portrait"/>
        <activity android:name=".Me.Account_Security"
            android:screenOrientation="portrait"/>
        <activity android:name=".Me.User_Info_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Me.Info_Change_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Me.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.RegistActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.ForgetPsdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LaunchSimpleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TabHostActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".First.TabFirstActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".discussion.TabSecondActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".discussion.GroupDiscussionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Third.TabThirdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Me.TabForthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login.MainFrameActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.qingzhou.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1127200416065957#qingzhou" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>